
@model List<LogListModel>



@if(Model !=null && Model.Count > 0)
{
<div class="card overflow-auto">
    <div class="card-body">
        <h3 class="card-title">User Logs:</h3>
        <hr />
        @foreach (var log in Model)
        {
            <div class="row m-2 bg-light border">
                <div class="col-sm-3">
                        <p> @log.IdLogList .<b>Username:</b> @log.UserName</p>
                </div>
                <div class="col-sm-3">
                    <p><b>Log:</b> @log.Log</p>
                </div>
                <div class="col-sm-3">
                        @if (log.Opis == "Login failed")
                        {
                            <div>
                            <b>Message:</b>
                            <span class="text-danger"> @log.Opis</span>
                            </div>
                        }
                        else
                        {
                            <div>
                            <b>Message:</b>
                            <span class="text-success"> @log.Opis</span>
                            </div>
                        }
                    </div>
                <div class="col-sm-3">
                    <p><b>Time:</b> @log.DateTime</p>
                </div>
            </div>
        }   
    </div>
</div>

}
else
{
    <p>There is nothing to display here!</p>
}

      
    
